<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <h1><%= @question %></h1>
    <p> - You</p>
  <h1><%= @answer %></h1>
    <p> - Your coach</p>
</div>
<div class= "New_question col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
 <h3><%= link_to "Ask a new question", ask_path %></h3>

</div>



