
<!-- <form action="/answer" method="get"> -->
<!--   <input type="text" name="question" placeholder="Your question"> -->
<!--   <input type="submit"> -->
<!-- </form> -->


<!-- <form action="/answer" method="get" class="form-group"> -->
<!--   <label for="question">Speak to your coach</label> -->
<!--   <input type="text" name="question" placeholder="Your question"> -->
<!--   <input type="submit" value="Go on!"> -->
<!-- </form> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h1>Speak to your coach</h1>
      <form action="/answer" method="get">
        <input type="text" name="question" placeholder="Your question" class="form-control">
        <button type="submit" id ="bouton" class="btn btn-primary">Go on!</button>
      </form>
    </div>
  </div>
</div>
